html, body {
    margin: 0;
    font-family: 'Smythe', 'cursive';
    font-weight: 400;
    font-size: 16px;
}

/* Typography & Icons */
h3, p{
    margin-top: 0px;
}

h1, h2 {
    margin-bottom:  5px;
}

h1{
    font-size: 36px;
    margin-bottom: 0px;
}

h2{
    font-size: 20px;
}

h3{
    font-weight: lighter;
}

p {
    color: #8B8B8B;
}

.fa-star {
    cursor: pointer;
}

.reviewed {
    color: yellow;
}

/* Layout */

header {
    background-image: url("/images/ferks-guare-KEZdWfYD-ow-unsplash.jpg");
    color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
}

.container{
    width: 60%;
    min-width: 400px;
    margin: auto;
}

/* Buttons & */

button{
    color: whitesmoke;
    background-color: #16DB99;
    padding: 10px 60px;
    border: none;
    font-weight: 700;
    text-shadow: 0px 0px 1px #ECFDF5;
}

button:enabled {
    cursor: pointer;
}

button:hover:enabled,
button:focus:enabled {
    background-color: #ECFDF5;
    color: #065F46;
}

.add-item {
    padding: 0;
    background-color: white;
    border: 1px solid #8B8B8B;
    border-radius: 50%;
    color: #8B8B8B;
    font-size: larger;
    width: 50px;
    height: 50px;
}

.order-btn {
    line-height: 22px;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.add-item:hover:enabled {
    background-color: #8B8B8B;
    color: black;
}

/* Form related */
input {
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #757575;
    border-radius: 4px;
    padding: 10px 20px;
}

/* Modal */
.modal-checkout{
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    z-index: 1;
    position: absolute;
    margin: auto ;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: max-content;
    height: fit-content;
    background-color: white;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
}

.modal-label {
    margin-left: -3000px;
}

.modal-checkout h2{
    margin-top: 0px;
}

.finish-payment{
    background-color: #ECFDF5;
    color: #065F46;
}

.review {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Utility */
.default-padding{
    padding: 20px 30px;
}

.default-padding-2x{
    padding: 40px 60px;
}

.hidden {
    display: none;
}

.default-border-radius {
    border-radius: 3px;
}

.center-text{
    text-align: center;
}

/* SVG */
.loading{
    width: 100%; 
    margin-top: 10px;
}

/* Other */
.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
    border-bottom: 2px solid #cccccc;
}

.order {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.order-items {
    width: 45%;
}

.btn-container {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.checkout-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1100px){
    .container{
        box-sizing: border-box;
    }

    .default-padding{
        padding: 20px 10px;
    }

    .order{
        flex-direction: column;
    }

    .order-items {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .add-item {
        width: 30px;
        height: 30px;
    }
    
    .checkout {
        border: 2px solid #cccccc;
    }
}